*{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 70px;
    background-color: rgb(227, 228, 222);
    margin: 0 0 30px 0;
}

.header-wrap{
    width: 80%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header__text{
    font-size: 20px;
}

.header__login{
    font-size: 20px;
}
.header__login a:nth-child(1){
    margin: 0 10px 0 0;
}

.wrapper{
    width: 80%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: end;
}



.head{
    border-top: 2px solid black;;
    background-color: rgb(187, 179, 179);
    font-size: 18px;
}

.item{
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid black;
    margin: 10px 0;
}


h2{
    font-size: 18px;
}

h3{
    font-size: 16px;
}

.film{
    padding: 10px;
    font-size: 16px;
    width: 25%;
    max-width: 350px;
    min-height: 350px;
    background-color: orange;
    margin: 10px;

}

.d-flex{
    display: flex;
}

.d-flex.text{
    margin: 10px 0 0 0;
}

.wrapper-form{
    width: 80%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

input.search{
    border: 1px solid rgba(114, 114, 114, 0.7);
    padding: 5px;
    border-radius: 5px;
}
/* 
button#search{
    margin: 0 5px;
    outline: 2px solid black;
    padding: 2px;
}

button#sort{
    margin: 0 5px 0 0;
    outline: 2px solid black;
    padding: 2px;
} */



.m-r5{
    margin-right: 5px
}
.m-r10{
    margin-right: 10px
}